{
  "crawler_image": "302782651551.dkr.ecr.us-west-2.amazonaws.com/teletracker/crawlers",
  "hbo_catalog_crawler_version": "1.0-1596212378.9a543c6c",
  "hbo_max_crawler_version": "1.0-1596212378.9a543c6c",
  "hulu_catalog_crawler_version": "1.0-1596212378.9a543c6c",
  "netflix_catalog_crawler_version": "1.0-1596212378.9a543c6c",
  "disneyplus_catalog_crawler_version": "1.0-1596212378.9a543c6c",
  "showtime_catalog_crawler_version": "1.0-1596212378.9a543c6c",
  "amazon_catalog_crawler_version": "1.0-1596213102.9a543c6c",
  "google_play_store_catalog_crawler_version": "1.0-1596212378.9a543c6c"
}
