<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <if condition='p("regular_logging").toLowerCase().equals("true")'>
            <then>
                <encoder>
                    <pattern>%d [%X{traceId}] [%thread] %-5level %logger{36} %marker - %msg%n</pattern>
                </encoder>
            </then>
            <else>
                <encoder class="com.teletracker.common.logging.EventJsonEncoder"/>
            </else>
        </if>
    </appender>

    <!-- ===================================================== -->
    <!-- Secondary Appenders -->
    <!-- ===================================================== -->

    <!-- Service Log (Rollover daily/50MB) -->
    <appender name="SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.service.output:-job.log}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>job-%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <encoder class="com.teletracker.common.logging.EventJsonEncoder"/>
    </appender>

    <!-- ===================================================== -->
    <!-- Package Config -->
    <!-- ===================================================== -->

    <!-- Root Config -->
    <root level="${log.level:-INFO}">
        <appender-ref ref="STDOUT"/>
        <!--        <appender-ref ref="SERVICE"/>-->
    </root>

    <!-- Per-Package Config -->
    <logger name="com.twitter" level="INFO"/>
    <logger name="org.elasticsearch" level="INFO" />
    <logger name="software.amazon" level="INFO"/>
    <logger name="dispatch" level="WARN"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.reflections.Reflections" level="ERROR"/>
    <logger name="io.netty" level="INFO" />

</configuration>